<nz-layout class="inner-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <nz-content class="inner-content">
      <ul nz-menu nzMode="inline">
        <li nz-menu-group [nzTitle]="'admin.profile.manage_profile' | translate ">
          <ul>
            <li nz-menu-item nzSelected routerLink="/profile/general"
              [nzSelected]="router.routerState.snapshot.url === '/profile/general'">
              <a routerLink="/profile/general">{{'admin.profile.general.title' | translate}}</a>
            </li>
            <li nz-menu-item routerLink="/profile/edit-password"
              [nzSelected]="router.routerState.snapshot.url === '/profile/edit-password'">
              <a routerLink="/profile/edit-password">{{'admin.profile.edit_password.title' | translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-content>
  </nz-sider>
  <nz-content class="inner-content" style="width: 100%">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>