<div class="header">
        <div class="header-text">
            <h3>Users list</h3>
        </div>
        <div class="button-text">
            <button nz-button nzType="primary" (click)="showModal()">
                <span nz-icon nzType="user-add" nzTheme="outline"></span>
                Ajouter
            </button>
        </div>
            
    </div>
    <nz-table #usersList [nzData]="all_cars" nzSize="small" [nzPageSize]="15" nzBordered> 
        <thead>
            <tr>
                <th> Name</th>
                <th> url</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of usersList.data">
                <td> {{data.name}}</td>
                <td> {{data.url_car}}</td>
                <td>
                    <a nz-icon nzType="edit" nzTheme="fill" style="font-size: 20px; color: green;" (click)="showModalEdit(data.id)"></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-icon nzType="delete" nzTheme="fill" style="font-size: 20px; color: red;" (click)="showConfirm(data.name, data.id)"></a>
                </td>
                
            </tr>
        </tbody>

    </nz-table>
<nz-modal 
      [(nzVisible)]="isvisible" 
      nzTitle="Aventure"
      (nzOnCancel)="handleCancel()" 
      nzMask="true"
      nzMaskClosable="false">
  <div *nzModalContent>
      <form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzRequired>Aventures
            </nz-form-label>
            <nz-form-control [nzErrorTip]="'Champs obligatoires'">
              <nz-input-group>
                <input type="text" nz-input formControlName="name" appCustomAutoFocus
                  [placeholder]="'Aventures'" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <div class="container" >
                <img [src]="url" alt="" *ngIf="url">
                <div [innerHtml]="msg" *ngIf="msg" style="color: red;"></div>
                <input type="file" #fileDropRef id="fileDropRef"  (change)="selectFile($event)"/>
              </div>
          </nz-form-item>

          <nz-spin [nzSpinning]="isConfirmLoading">
              <button nz-button class="form-button form-margin" [nzType]="'primary'">Enregistrer
              </button>
          </nz-spin>
      </form>
  </div>
  <div *nzModalFooter>
      </div>
</nz-modal>

