<nz-layout>
  <nz-header class="top-nav">
    <div nz-row><div class="site-page-header-ghost-wrapper">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title>Title</nz-page-header-title>
        <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>
        <nz-page-header-extra>
          <div nz-col nzFlex="auto">
            <div class="right-menu">
              <app-language-select></app-language-select>
              <app-profil-dropdown></app-profil-dropdown>
            </div>
          </div>
        </nz-page-header-extra>
        <nz-page-header-content>
          <nz-descriptions nzSize="small" [nzColumn]="3">
            <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
              Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-page-header-content>
      </nz-page-header>
    </div>
      <div nz-col nzSpan="4">
        <app-menu mode="horizontal"></app-menu>
      </div>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <div>
      <xng-breadcrumb>
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          <ng-container>{{ breadcrumb | translate | titlecase }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
  
    </div>
    <div style="padding: 16px 0px; flex: 1">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>{{ config.footerCopyright }}</nz-footer>
</nz-layout>
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzBodyStyle]="drawerBodyStyle"
  (nzOnClose)="closeDrawer()"
  nzPlacement="left"
  nzTitle="Menu"
>
  <ng-container *nzDrawerContent>
    <app-menu mode="inline" (closeDrawer)="closeDrawer()"></app-menu>
  </ng-container>
</nz-drawer>
