<div class="container">
  <div class="img-container">
    <img [src]="config.appLogo" [alt]="config.appTitle" />
  </div>
  <div class="form-container">
    <app-language-switcher></app-language-switcher>
    <h2>{{'auth.login.signin' | translate }}</h2>
    <form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'auth.login.email' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'auth.login.email_error' | translate">
          <nz-input-group>
            <input type="email" nz-input appCustomAutoFocus formControlName="email"
              [placeholder]="'auth.login.email_placeholder' | translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'auth.login.password' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'auth.login.password_error' | translate">
          <nz-input-group [nzSuffix]="eye">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" 
              [placeholder]="'auth.login.password' | translate" />
          </nz-input-group>
          <ng-template #eye>
            <i nz-icon nzType="eye-invisible" *ngIf="passwordVisible"
              class="eye-icon" (click)="togglePasswordVisibility()"></i>
            <i nz-icon nzType="eye" *ngIf="!passwordVisible"
              class="eye-icon" (click)="togglePasswordVisibility()"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-spin [nzSpinning]="loading">
        <button nz-button class="form-button form-margin" [nzType]="'primary'">
          <span>{{'auth.login.login' | translate | uppercase}}</span>
        </button>
      </nz-spin>
    </form>
  </div>
</div>
