<div class="container">
  <div class="form-container">
    <h2>{{'admin.profile.edit_password.title' | translate }}</h2>
    <form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'admin.profile.edit_password.old_password' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'admin.profile.edit_password.old_password_error' | translate">
          <nz-input-group>
            <input type="password" nz-input formControlName="old_password" appCustomAutoFocus
              [placeholder]="'admin.profile.edit_password.old_password' | translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'admin.profile.edit_password.new_password' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'admin.profile.edit_password.new_password_error' | translate">
          <nz-input-group>
            <input type="password" nz-input formControlName="new_password"
              [placeholder]="'admin.profile.edit_password.new_password' | translate" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'admin.profile.edit_password.confirm_password' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmPasswordError">
          <nz-input-group>
            <input type="password" nz-input formControlName="confirm_password"
              [placeholder]="'admin.profile.edit_password.confirm_password' | translate" />
          </nz-input-group>

          <ng-template #confirmPasswordError let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{'admin.profile.edit_password.confirm_password_error' | translate}}
            </ng-container>
            <ng-container *ngIf="!control.hasError('required') && control.hasError('mismatch')">
              {{'admin.profile.edit_password.confirm_password_mismatch' | translate}}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-spin [nzSpinning]="loading">
        <button nz-button class="form-button form-margin" [nzType]="'primary'">
          {{'admin.profile.edit_password.title' | translate | uppercase}}
        </button>
      </nz-spin>
    </form>

    <!-- temporary waiting email service -->
    <ng-template #notification>
      <p>
        <span class="notification-content">
          {{ 'admin.profile.edit_password.confirm_password_notification_content' | translate}}
        </span>
        <a href="http://localhost:4200/auth/password/changed">link</a>
      </p>
    </ng-template>
  </div>
</div>
