<div class="container" >
    
    <div class="header">
        <div class="button-text">
            <button nz-button nzType="primary" (click)="showModal()">
                <span nz-icon nzType="user-add" nzTheme="outline"></span>
                Ajouter
            </button>
        </div>
            
    </div>
    <nz-table #usersList [nzData]="all_aventuras" nzSize="small" [nzPageSize]="15" nzBordered> 
        <thead>
            <tr>
                <th> Title</th>
                <th> Direction</th>
                <th> Description</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of usersList.data">
                <td> {{data.title}}</td>
                <td> {{data.direction}}</td>
                <td> {{data.description}}</td>
                <td>
                    <a nz-icon nzType="edit" nzTheme="fill" style="font-size: 20px; color: green;" (click)="showModalEdit(data.id)"></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-icon nzType="delete" nzTheme="fill" style="font-size: 20px; color: red;" (click)="showConfirm(data.title, data.id)"></a>
                </td>
                
            </tr>
        </tbody>

    </nz-table>
</div>
<nz-modal 
      [(nzVisible)]="isvisible" 
      nzTitle="Aventure"
      (nzOnCancel)="handleCancel()" 
      nzMask="true"
      nzMaskClosable="false">
  <div *nzModalContent>
      <form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label nzRequired>Aventures
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'Champs obligatoires'">
            <nz-select
              nzAllowClear
              formControlName="circuit"
              [nzPlaceHolder]="'admin.home.mention.title' | translate"
              >
              <nz-option *ngFor="let item of allCircuit"
                  [nzLabel]="item.title"
                  [nzValue]="item.id"
              >
              </nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Aventures
            </nz-form-label>
            <nz-form-control [nzErrorTip]="'Champs obligatoires'">
              <nz-input-group>
                <input type="text" nz-input formControlName="title" appCustomAutoFocus
                  [placeholder]="'Aventures'" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-label nzRequired>Directions
            </nz-form-label>
            <nz-form-control [nzErrorTip]="'Champs olbigatoires'">
              <nz-input-group>
                <input type="text" nz-input formControlName="direction" appCustomAutoFocus
                  [placeholder]="'Directions'" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-label nzRequired>Descriptions
            </nz-form-label>
            <nz-form-control [nzErrorTip]="'Champs oblibatoires'">
              <nz-input-group>
                  <textarea
                    formControlName="description"
                    nz-input
                    placeholder="Descriptions"
                    [nzAutosize]="{ minRows: 1, maxRows: 8 }"
                ></textarea>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-spin [nzSpinning]="isConfirmLoading">
              <button nz-button class="form-button form-margin" [nzType]="'primary'">Enregistrer
              </button>
          </nz-spin>
      </form>
  </div>
  <div *nzModalFooter>
      </div>
</nz-modal>

